.botonera{
    padding: 1%;
    background-color: #cccccc;
    margin-bottom: 3%;
}

.addFavContainer h3{
    margin: 0;
}

.addToFav{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .addToFav p {
        margin: 0;
    }


.servicesShown{
    margin-bottom: 5%;
}