#boxConvInline{
  position: relative;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background:rgb(76, 138, 163); }
  10%  {transform: scale(0.9,0.9);}
}
