/* form {
  padding: 50px;
} */

.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changeData {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}
