.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.changeData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto 0 auto;
  gap: 20px;
}

.changeData h2 {
  text-align: center;
}
