.container{
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.formWrapper{
    /* background-color: rgb(136, 35, 35); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin-right: 20em;
}

.inputsContainer{
    margin: 0.7em;
    width: 100%;
}

.submitButton{
    margin: 1em;
}

.imgContainer{
    object-fit: cover;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgRender{
    align-self: center;
    width: 70%;
    height: 50%;
    border: gray 6px;
    border-radius: 5px;
}

