.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;

}

.formWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin-right: 25em;
    margin-top: 6em;
}

.inputsContainer{
    margin: 0.7em;
    width: 90%;
    margin-right: 6%;
    margin-left: 4em;
}

.submitButton{
    margin: 1em;
}

.imgContainer{
    object-fit: cover;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.imgRender{
    align-self: center;
    width: 70%;
    height: 80%;
    border: gray 6px;
    border-radius: 5px;
}

