.boxMsnSend {
  background: #ff8f77;
  border-radius: 0.3em;
  margin-top: 1.5%;
  min-height: 5%;
  max-width: 50%;
}
.boxMsnReceive {
  background: #FFDA77 ;
  border-radius: 0.3em;
  margin-top: 1.5%;
  min-height: 5%;
  max-width: 50%;
}
.msn {
  display: flex;
  padding-right: 2%;
}
