.fullName {
  display: flex;
  justify-content: center;
}

.spinner {
  align-self: center;
  border: 4px solid rgba(0, 0, 0, 0.089);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border-left-color: #ffe082;

  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
