.form {
  border-radius: 5px;
  padding: 8%;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new p {
  font-size: 0.9em;
  color: #a3a3a3;
  margin: 0;
  margin-right: 4%;
}
