.container,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form {
  max-width: 500px;
  width: 80%;
  padding: 25px;
  border-radius: 5px;
}
